[Unit]
Description=ProjectOne Project
After=network.target
[Service]
ExecStart=/home/pi/2022-2023-projectone-MassimoDeBock/venv_fswd/bin/python -u /home/pi/2022-2023-projectone-MassimoDeBock/backend/app.py
WorkingDirectory=/home/pi/2022-2023-projectone-MassimoDeBock/backend
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
[Install]
WantedBy=multi-user.target